@import "./nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Pattaya&family=Press+Start+2P&family=Rubik+Bubbles&family=Rubik+Vinyl&family=Stalinist+One&display=swap");

.wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: lato;
}
.header {
}
.navigation__menu {
  font-family: lato;
  width: 555px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
  margin: 8px auto;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.menu__link:hover {
  color: grey;
  text-shadow: 1px 1px 1px #000;
}
.menu__link img {
  width: 94px;
  height: 85px;
}
.menu__logo {
  position: relative;
  top: 10px;
}
.header img {
  width: 100%;
}
.about {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}
.about__img {
  margin: 1% auto 0 auto;
  width: 100px;
  height: 100px;
  background: no-repeat center url(../img/icon_126.png);
}
.title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #353738;
}
.text {
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
.main {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}
.bike-work {
  text-align: center;
  width: 100%;
  display: flex;
}
.bike-work__icon {
  width: 66.6%;
  height: 493px;
  background: no-repeat left url(../img/bike-1-bg.png);
}
.bike-work__icon-logo {
  max-width: 100%;
  width: 113px;
  height: 118px;
  margin: 150px 0 0 0;
}
.bike-work__info {
  display: flex;
  width: 33.3%;
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
}
.olivia-icon {
  margin: 0 0 0 228px;
  width: 41px;
  height: 30px;

  background: no-repeat url(../img/icon_78.png);
}
.olivia-title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0 66px 0 0;
}
.olivia__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;

  margin: 0 97px 0 0;
}
.olivia__img {
  width: 533px;
  height: 200px;
  background: no-repeat url(../img/bike-1-img.png);
  margin: 0 50px 7px -42px;
}
.boriosa {
  width: 100%;
  height: 600px;
  display: flex;

  justify-content: space-between;
}
.boriosa__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.3%;
  height: 600px;
}
.boriosa-icon {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: no-repeat center url(/img/icon_93.png);
}
.boriosa__img-small {
  width: 534px;
  height: 200px;
  background: no-repeat url(/img/bike-2-img.png);
  margin: 0 0 -14px 56px;
}
.boriosa__img {
  width: 66.6%;
  height: 600px;
  background: no-repeat url(/img/rectangle_1_copy_5_61.png);
}
.boriosa__img p {
  width: 177px;
  height: 152px;
  display: block;
  margin: 0 auto;
  padding-top: 200px;
}
.boriosa-title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0 auto;
}
.boriosa-text {
  width: 340px;
  height: 250px;
  font-family: Lato;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #848789;
  margin: 0 auto;
}
.hulot {
  width: 100%;
  height: 600px;
  display: flex;
}
.hulot-img {
  width: 33.3%;
  background: no-repeat center url(/img/bike-3-bg.png);
}
.hulot-img img {
  width: 208px;
  height: 67px;
  margin: 280px 0 0 190px;
}
.hulot-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 33.3%;
}
.hulot-icon {
  width: 23px;
  height: 41px;
  background: no-repeat url(/img/icon_129.png);
  margin: 25px auto;
}
.hulot-title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  width: 300px;
  margin: 0 auto;
}
.hulot-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #848789;
  width: 400px;
  margin: 10% auto;
}
.hulot-bottom-img {
  width: 100%;
  height: 200px;
  background-color: #282f35;
  background: no-repeat center url(/img/bike-3-img.png);
}
.hulot-img__bike {
  width: 33.3%;
  background: no-repeat center url(/img/bike-3-bg-2.png);
}
.twitter {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.twitter__logo {
  width: 32px;
  height: 27px;
  background: no-repeat center url(/img/icon_130.png);
}
.twitter__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.twitter__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.switch {
  width: 65px;
  margin: 0 auto;
  display: inline-flex;
  gap: 4px;
}
.circle-one {
  width: 11px;
  height: 11px;
  background-color: #a9afb3;
  border-radius: 50%;
  border: 1px solid #666;
}
.circle-two {
  width: 11px;
  height: 11px;
  background-color: rgba(40, 47, 53, 0);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}
.circle-three {
  width: 11px;
  height: 11px;
  background-color: rgba(40, 47, 53, 0);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}
.shop {
  width: 100%;
  height: 740px;
  background-color: #282f35;
}
.shop__img {
  display: flex;
  width: 100%;
  height: 540px;
}
.shop__img-one {
  width: 33.3%;
  display: flex;
}
.shop__img-one-top {
  display: flex;

  height: 540px;
}
.shop__img-one-top-left {
  width: 267px;
  height: 267px;
}
.shop__img-one-top-right {
  width: 267px;
  height: 267px;
}
.shop__img-one-bottom {
  width: 97%;
  height: 267px;
  margin: 48% -97%;

  position: relative;
}
.shop__img-two {
  display: flex;
  width: 33.3%;
}
.shop__img-two-left {
}
.shop__img-two-right {
}
.shop__img-three {
  width: 33.3%;
}
.shop__img-three-top {
}
.shop__img-three-bottom {
  display: flex;
}
.shop__discover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.49);
  margin: 40px auto;
  text-decoration: none;
}
.discovery {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.footer {
}
